@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');

:root {
    --ff-primary: 'Titan One', san-serif;
    --ff-text: 'Montserrat', san-serif;

    --clr-neutral-000: white;
    --clr-neutral-150: hsl(0, 0%, 98%);
    --clr-neutral-300: hsl(0, 0%, 90%);
    --clr-neutral-450: hsl(0, 0%, 70%);
    --clr-neutral-600: hsl(0, 0%, 50%);
    --clr-neutral-900: black;
    --clr-bg: hsl(150, 39%, 71%); /* soft mint green for main background color*/
    --clr-cta: hsl(208, 55%, 80%); /*soft blue for buttons*/
    --clr-section-bg: hsl(202, 64%, 79%); /* light blue for sectioned backgrounds */
    --clr-alert: hsl(274, 76%, 58%); /* striking purple for alert notifs*/
}

.banner {
    background-color: var(--clr-bg);
    height: 10vw;
    margin-top: 20px;
}

.banner > h1 {
    font-size: 3rem;
    font-family: var(--ff-primary);
    color: var(--clr-neutral-900);
    text-align: center;
    padding:50px;
    font-weight:200;
}

.productGrid {
    display: grid;
    grid-template:
    "1 2"
    "3 4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.prodimg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.prodimg > img {
<<<<<<< HEAD
    width: 20vw;
}

#grid1 {
    grid-area: 1;
}

#grid2 {
    grid-area: 2;
}

#grid3 {
    grid-area: 3;
}

#grid4 {
    grid-area: 4;
=======
    width: 15vw;
    border-radius: 15px;
>>>>>>> acf0ffc4e4805fe35095be4ee90700bc1d50a593
}

.reviewSection > ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
background-color: var(--clr-section-bg);
}

.review {
    list-style: none;
    font-family: var(--ff-text);
    background-color: var(--clr-neutral-150);
    border-radius: 5px;
    width: 30vw;
    padding: 5px;
    box-shadow: 5px 5px 5px var(--clr-neutral-600);
}

.review > span {
    font-weight: bold;
    font-size: 20px;
}
