/* Signup.css */
.RegisterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: url(../assets/SignLogBackground.png);
  background-size: cover;
  background-position: center;
}

.RegisterContainer {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent white */
  width: 300px;
}

.RegisterTitle {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.Input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #a7c4bc; /* Soft border color */
  background-color: #e7eff6; /* Very light blue */
}

.RegisterButton, .LoginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.RegisterButton {
  background-color: #9caee0; /* Soft pink */
  color: #000000; /* Dark grey for contrast */
}

.LoginButton {
  background-color: #b8e0f2; /* Soft blue */
  color: #000000;
}

/* If you have or add error messages styling */
.ErrorMessage {
  color: #f7786b; /* Slightly bolder pink for visibility */
  margin-bottom: 10px;
}
