footer{
    background-color: #a1d4f2;
    margin-top: 50px;
    padding:50px;
}

.brand{
    display: flex;
    justify-content: center;
}

.social-links{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.instagram-icon{
    padding: 10px;
}

.twitter-icon{
    padding: 10px;
}

